@font-face {
	font-family: 'BKoodakBold';
	src: url('fonts/BKoodakBold.eot');
	src: url('fonts/BKoodakBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/BKoodakBold.woff') format('woff'),
		url('fonts/BKoodakBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: Gandom;
  src: url('fonts/Gandom.eot');
  src: url('fonts/Gandom.eot?#iefix') format('embedded-opentype'),
       url('fonts/Gandom.woff') format('woff'),
       url('fonts/Gandom.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: SamimBold;
  src: url('fonts/SamimBold.eot');
  src: url('fonts/SamimBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/SamimBold.woff') format('woff'),
       url('fonts/SamimBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: AFarhood;
  src: url('fonts/AFarhood.ttf');
  font-weight: normal;
}

@font-face {
  font-family: AGoldan;
  src: url('fonts/AGoldan.ttf');
  font-weight: normal;
}

